.contenedor{
	text-align: center;
	font-family: 'Noto Serif', serif;
	padding: 20px;
}

.botones {
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;


}

.progress-bar {
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	/* background-color: transparent; */


}

.separador {
	margin-right: 20px;
}

.tabla{
	margin-top: 20px;
}

.modificados{
	background-color: #D7DF01 !important;
}

.nuevos-marca{
	background-color: #00FFFF !important;
}

.nuevos{
	background-color: #F7819F !important;
}

.div-senal{
	width: 20px;
	height: 20px;
}